css
#titulo {
    text-align: center;
}
body{
    background-color:#E6E6FA;
}
/* usa esse para colocar comentario no css*/
h1{
    color:#4B0082;
    text-align:right;
    font-size:30px;
}
.texto{
   color:#000000;
    text-align: left;
}
em strong {
    color: #4682B4;
}